<a href="https://colab.research.google.com/github/tracieschroeder/Astronomy/blob/main/Inside_the_Earth_Teacher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inside the Earth
##Objectives:
*   Predict the speed of seismic waves through the Earth
*   Compare predicted speed of seismic waves and actual speed

##The Experimental Setup:
1.	Locate a circle.
2.	Each partner measure the diameter of the circle. Record the diameter in both centimeters and inches.
3.	Each partner measure the circumference of the circle in centimeters. Record the circumference in both centimeters and inches.
4.	Repeat for five more circles.

# Google Colab. How does it work? Why do I have to do it?
Google Colaboratory is a web-based program that allows us to write and execute code in the Python programming language. (Fun fact, Python is not named after the snake, but Monty Python's Flying Circus. The more you know.)

There are two types of editors in Colab. The first is a text box. Like this. You can type text and your computer will ignore everything in the box when it runs your code. The second is a code box. This is where you type the code for the computer to read.

Because I said so. Just kidding. Sort of. Coding is not just a skill that can open doors, it is a way of thinking that allows you to make sense of the things around you.

## Importing Libraries
Colab doesn't really have much in the way of functions in and of itself, but it allows you to import many different coding libraries. These libraries are essentially software packages the allow you to perform different functions within your program.

Click the "play" button on the left side of the code cell below.

In [ ]:
# Import software packages (not too exciting)
# You will at least need pandas, numpy, matplotlib, and pyplot
# this cell only needs to be run once, but re-exectuing it doesn't hurt anything either
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import datascience as ds
from datascience import *

### What does all of this mean?

![link text](https://www.data8.org/zero-to-data-8/_static/data8.png)

`import datascience as ds`

  **datascience** intuitively conduct data science techniques without first spending considerable time directly learning more complex tools
# [datascience Documentation](https://www.data8.org/zero-to-data-8/datascience.html)


![link text](https://upload.wikimedia.org/wikipedia/commons/0/01/Created_with_Matplotlib-logo.svg)
```
import matplotlib as mpl
import matplotlib.pyplot as plt
```
 **matplotlib** is a plotting library for the Python programming language and its numerical mathematics extension NumPy. It provides an object-oriented API for embedding plots into applications

# [matplotlib Documentation](https://matplotlib.org/stable/contents.html)

#**Learning Check!**

Notice that we are importing each library as something else. Why do you think we are doing that? (Write your answer here!)

# Making a Data Table

In this lab, we have recorded the geocentric angle location of each station relative to the earthquake and the straight line distance through the Earth of the station from the earthquake.

We will now take that data and add it to a data table.

Look at the code cell below.

Line 1 tells the computer that we want to make a data table.

Line 2 tells the computer that we want to make a column in our data table called "Station "Number". The number of each station is listed, separated by commas, enclosed in the brackets. In computer talk, this listing of items is called an **array**.

In Line 3, we want to tell the computer to create a second column called "Station Location". Note that there are no numbers in the brackets. Add your measurements here.

Notice that each array must have the same number of data points.

Once you have the data entered, click on the play button.

In [ ]:
quake=Table().with_columns(
    'Station Number', make_array(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17),
    'Station Location (degrees)', make_array(1,10,18,27,34,40,50,60,67,82,100,112,121,129,138,154,172),
    'Model Distance (cm)', make_array(0.3,3.5,6.1,9.2,11.6,13.5,16.7,19.8,21.9,26,30.4,32.8,34.4,35.6,36.8,38.5,39.3)
)
quake

Station Number | Station Location (degrees) | Model Distance (cm)
1              | 1                          | 0.3
2              | 10                         | 3.5
3              | 18                         | 6.1
4              | 27                         | 9.2
5              | 34                         | 11.6
6              | 40                         | 13.5
7              | 50                         | 16.7
8              | 60                         | 19.8
9              | 67                         | 21.9
10             | 82                         | 26
... (7 rows omitted)

##**Model Distance Column**

Nice! Now that you know how to create a table, go back up and add in a column for "Model Distance (cm)" for the rest of the data that you measured.

##**Adding Calculated Columns**

Now we are going to add columns for our calculations.

Take a look at the code below. Run the cell and see what happens.

Does the new column match the data that you calculated before?

In [ ]:
#model=quake.column('Distance in model (cm)').item(0)
quake=quake.with_columns(
      'Earth Distance (km)',quake.column('Model Distance (cm)')*320
)
quake

Station Number | Station Location (degrees) | Model Distance (cm) | Earth Distance (km)
1              | 1                          | 0.3                 | 96
2              | 10                         | 3.5                 | 1120
3              | 18                         | 6.1                 | 1952
4              | 27                         | 9.2                 | 2944
5              | 34                         | 11.6                | 3712
6              | 40                         | 13.5                | 4320
7              | 50                         | 16.7                | 5344
8              | 60                         | 19.8                | 6336
9              | 67                         | 21.9                | 7008
10             | 82                         | 26                  | 8320
... (7 rows omitted)

##**Learning Check!**

1. What is the name of the new column?

2. Where did the numbers in the 'Distance in Earth (cm)' column come from?

3. Why does the word 'quake' need to be in Line 4?

##**Time (s) Column**

In the code block below, create a new column called 'Time (s)' Remember we discovered that seismic waves travel through rock with a speed of 11 km/s and that time can be found by taking distance traveled divided by speed.

In [ ]:
quake=quake.with_columns(
      'Time (s)',quake.column('Earth Distance (km)')/11
)

quake

Station Number | Station Location (degrees) | Model Distance (cm) | Earth Distance (km) | Time (s)
1              | 1                          | 0.3                 | 96                  | 8.72727
2              | 10                         | 3.5                 | 1120                | 101.818
3              | 18                         | 6.1                 | 1952                | 177.455
4              | 27                         | 9.2                 | 2944                | 267.636
5              | 34                         | 11.6                | 3712                | 337.455
6              | 40                         | 13.5                | 4320                | 392.727
7              | 50                         | 16.7                | 5344                | 485.818
8              | 60                         | 19.8                | 6336                | 576
9              | 67                         | 21.9                | 7008                | 637.091
10             | 82                         | 26                  | 8320                | 756.364
... (7 rows omitted)

##**Time (min) Column**

Create a new column called 'Travel Time (min)'

HINT: How many seconds are there in one minute?

In [ ]:
quake=quake.with_columns(
      'Time (min)',quake.column('Time (s)')/60
)
quake

Station Number | Station Location (degrees) | Model Distance (cm) | Earth Distance (km) | Time (s) | Time (min)
1              | 1                          | 0.3                 | 96                  | 8.72727  | 0.145455
2              | 10                         | 3.5                 | 1120                | 101.818  | 1.69697
3              | 18                         | 6.1                 | 1952                | 177.455  | 2.95758
4              | 27                         | 9.2                 | 2944                | 267.636  | 4.46061
5              | 34                         | 11.6                | 3712                | 337.455  | 5.62424
6              | 40                         | 13.5                | 4320                | 392.727  | 6.54545
7              | 50                         | 16.7                | 5344                | 485.818  | 8.09697
8              | 60                         | 19.8                | 6336                | 576      | 9.6
9              | 67                         | 21.9                | 7008                | 637.091  | 10.6182
10             | 82                         | 26                  | 8320                | 756.364  | 12.6061
... (7 rows omitted)

##**Make a Graph**

Now for the fun part! We want to plot the Station Location (degrees) on the x-axis and the Travel Time (min) on the y axis.

In [ ]:
graph = plt.figure(figsize=(15, 10))

x = quake.column('Station Location (degrees)')
y1 = quake.column('Time (min)')

plt.scatter(x, y1, marker='*', color='b', s=100)

plt.title("Travel Time vs Station Location")
plt.xlabel("Station Location (degrees)")
plt.ylabel("Time (min)");
plt.show();

##**Learning Check!**

Notice the title of your graph. Rename the graph so that the title reads "Travel Time vs Station Location"

Give appropriate labels to the axes. Include the units!

Can you change the color of the data points? What about the shape of the data points? Make them bigger or smaller?

What happens if you change the numbers in Line 1?

##**Learning Check!**

Around 90*, the time is not going up at the same rate as it was before. Why do you think this is?

##**Assignment in Classroom!**

#**Part II**

Actual Results

The Record Section (blue and green paper) shows the times that the seismic waves actually arrived at the stations.

Add the recorded arrival times as an array and add it to the data table.

In [ ]:
quake=quake.with_columns(
    'Actual Time (min)', make_array(1,2,4,6,7,7,9,10,11,13,14,19,19,19,19,20,20)
)
quake

Station Number | Station Location (degrees) | Model Distance (cm) | Earth Distance (km) | Time (s) | Time (min) | Actual Time (min)
1              | 1                          | 0.3                 | 96                  | 8.72727  | 0.145455   | 1
2              | 10                         | 3.5                 | 1120                | 101.818  | 1.69697    | 2
3              | 18                         | 6.1                 | 1952                | 177.455  | 2.95758    | 4
4              | 27                         | 9.2                 | 2944                | 267.636  | 4.46061    | 6
5              | 34                         | 11.6                | 3712                | 337.455  | 5.62424    | 7
6              | 40                         | 13.5                | 4320                | 392.727  | 6.54545    | 7
7              | 50                         | 16.7                | 5344                | 485.818  | 8.09697    | 9
8              | 60                         | 19.8                | 6336                | 576      | 9.6        | 10
9              | 67                         | 21.9                | 7008                | 637.091  | 10.6182    | 11
10             | 82                         | 26                  | 8320                | 756.364  | 12.6061    | 13
... (7 rows omitted)

##**Graph both sets of data**

Remember our goal is to compare the predicted arrival times of the seismic waves to the actual time of arrival at each station. The easiest way to do this is to plot both sets of data on the same graph.

In [ ]:
graph = plt.figure(figsize=(15, 10))

x = quake['Station Location (degrees)']
y1 = quake['Time (min)']
y2 = quake['Actual Time (min)']

plt.scatter(x, y1, marker='v', color='r', s=100)
plt.scatter(x, y2, marker='*', color='b', s=100)

#plt.scatter(quake['Station Location (degrees)'],quake['Travel Time (min)'], s=100)
plt.title("title?")
plt.xlabel("Label me!")
plt.ylabel("Me, too!");
plt.show()

This notebook was designed by [Tracie Schroeder](https://github.com/tracieschroeder).